{% load jinja_tags %}
{% load static %}

<script type="text/javascript" src="{% static "" %}js/cambiar_password.js"></script>
<!--contenedor-->
<div class="row align-items-center">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8">
        <!--contenido-->
        <!--alerts-->
        {% include 'partials/_alerts.html' %}
        <br>
        {% if cambio == 1 %}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-info"></i> Usuarios!</h5>
            Su Password se cambio correctamente.
        </div>
        <br>
        {% endif %}
        <br>
        <form name="formulario" method="post" action="" onsubmit="return false;">
            {% csrf_token %}
            <table class="table3 w-100">
                <tr>
                    <th colspan="2" class="center w-100">
                        Cambiar Password
                    </th>
                </tr>

                <tr class="back2">
                    <td class="right w-20">
                        Usuario&nbsp;:&nbsp;
                    </td>
                    <td class="left w-80">
                        {{usuario_actual.last_name}} {{usuario_actual.first_name}} ({{usuario_actual.username}})
                    </td>
                </tr>

                <tr class="back1">
                    <td class="right w-20">
                        Actual :&nbsp;
                    </td>
                    <td class="left w-80">
                        <input type="password" autocomplete="off" class="form-control input w-80" name="actual" id="actual" onkeyup="txtValid(this);" onblur="txtValid(this);">
                    </td>
                </tr>

                <tr class="back2">
                    <td class="right w-20">
                        Nuevo :&nbsp;
                    </td>
                    <td class="left w-80">
                        <input type="password" autocomplete="off" class="form-control input w-80" name="nuevo" id="nuevo" onkeyup="txtValid(this);" onblur="txtValid(this);">
                    </td>
                </tr>

                <tr class="back1">
                    <td class="right w-20">
                        Repetir :&nbsp;
                    </td>
                    <td class="left w-80">
                        <input type="password" autocomplete="off" class="form-control input w-80" name="nuevo2" id="nuevo2" onkeyup="txtValid(this);" onblur="txtValid(this);">
                    </td>
                </tr>



                <tr class="back2">
                    <td colspan="2" class="center w-100">&nbsp;</td>
                </tr>
                <tr class="back2">
                    <td colspan="2" class="center w-100">
                        <input type="button" name="add_button" value="&nbsp;Cambiar Password&nbsp;" class="btn btn-primary btn-sm" onclick="cambiarPassword()">
                        <input type="hidden" name="module_x" value="{{module_x}}">
                        <input type="hidden" name="operation_x" value="add">
                    </td>
                </tr>

            </table>
        </form>
        <br>
    </div>
    <!--fin div contenido-->
    <div class="col-sm-2">&nbsp;</div>
</div>
<!--fin div contenedor-->

<form name="form_operation" method="post" action="{{url_main}}">
    {% csrf_token %}
    <input type="hidden" name="module_x" value="{{module_x}}">
    <input type="hidden" name="module_x2" value="{{module_x2}}">
    <input type="hidden" name="module_x3" value="{{module_x3}}">
    
    <input type="hidden" name="operation_x" value="{{operation_x}}">
    <input type="hidden" name="operation_x2" value="{{operation_x2}}">
    <input type="hidden" name="operation_x3" value="{{operation_x3}}">
    
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="id2" value="{{id2}}">
    <input type="hidden" name="id3" value="{{id3}}">
</form>