{% load static %}

{% if cantidad > 0 %}
<a class="nav-link" data-toggle="dropdown" href="#">
    <i class="far fa-bell notification_icon"></i>
    <span class="badge badge-{% if cantidad_rojos > 0 %}danger{% else %}success{% endif %} navbar-badge notification_normal">{{cantidad}}</span>
</a>
<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right back_aviso">
    <div class="w100 center">{{cantidad}} Avisos</div>
    {% for notif in notificaciones %}
    <div class="dropdown-divider"></div>
    <div class="w-100 left content_aviso h-30 v-middle pointer" onclick="notificacionAbrir('{{notif.tipo}}');">
        &nbsp;
        {% if notif.tipo == 'cobros' %}
        <i class="fas fa-money-check mr-2 red"></i> 
        {% endif %}
        {% if notif.tipo == 'calendario' %}
        <i class="fas fa-calendar-day"></i> 
        {% endif %}
        &nbsp;
        <span>{{notif.descripcion}}</span>
    </div>
    {% endfor %}
</div>
{% endif %}