{% load jinja_tags %}
{% load static %}

<!--contenedor-->
<div class="row align-items-center">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8">
        <!--contenido-->
        <!--alerts-->
        {% include 'partials/_alerts.html' %}
        <br>
        {% if puede_eliminar == 0 %}
        {% with title='Lineas' body='No puede Eliminar esta linea, tiene registros en otros modulos, consulte con el administrador' %}
        {% include 'partials/_alert_info_cant_delete.html' %}
        {% endwith %}
        {% endif %}
        <div class="link_blue right">
            <span class="link_blue pointer" onclick="backWindow();">Volver</span>
        </div>
        <br>
        <form name="formulario" method="post" enctype="multipart/form-data" action="" onsubmit="return false;">
            {% csrf_token %}
            <table class="table3 w-100">
                <tr>
                    <th colspan="4" class="center w-100">
                        {% if operation_x == "add" %}Adicionar L&iacute;nea{% endif %}
                        {% if operation_x == "modify" %}Modificar L&iacute;nea{% endif %}
                        {% if operation_x == "delete" %}Eliminar L&iacute;nea{% endif %}
                    </th>
                </tr>

                <tr class="back1">
                    <td class="right w-20">
                        L&iacute;nea&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-70" {% autoescape off %} {{db_tags.linea}} {% endautoescape %}>
                    </td>
                </tr>

                <tr class="back2">
                    <td class="right w-20">
                        <span id="label2">C&oacute;digo</span>&nbsp;:&nbsp;
                        <input type="hidden" id="label2_c" value="Codigo">
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-70" {% autoescape off %} {{db_tags.codigo}} {% endautoescape %}>
                    </td>
                    <td class="right w-20">
                        Activo&nbsp;:&nbsp;
                    </td>
                    <td class="left w-30">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="activo" name="activo" {% if operation_x == 'add' %}checked{% endif %}
                                {% if operation_x == 'modify' %}{% if linea.status_id_id == status_active %}checked{% endif %}{% endif %} {% if operation_x == 'delete' %}{% if linea.status_id_id == status_active %}checked{% endif %}
                                disabled="disabled" {% endif %}>
                            <label for="activo" class="custom-control-label">&nbsp;</label>
                        </div>
                    </td>
                </tr>
                
                <tr class="back1">
                    <td class="right w-20">
                        Descripci&oacute;n&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-90" {% autoescape off %} {{db_tags.descripcion}} {% endautoescape %}>
                    </td>
                </tr>
                
                <tr class="back2">
                    <td class="right w-20">
                        Principal&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="linea_principal" name="linea_principal" {% if operation_x == 'add' %} {% endif %}
                                {% if operation_x == 'modify' %}{% if linea.linea_principal == 1 %}checked{% endif %}{% endif %} {% if operation_x == 'delete' %}{% if linea.linea_principal == 1 %}checked{% endif %}
                                disabled="disabled" {% endif %}>
                            <label for="linea_principal" class="custom-control-label">&nbsp;</label>
                        </div>
                    </td>
                </tr>
                
                <tr class="back1">
                    <td class="right w-20">
                        Superior&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <select name="linea_superior_id" id="linea_superior_id" class="form-control input h-35 w-80" {% if operation_x == 'delete' %}readonly="readonly" {% endif %}>
                            <option value="0">---</option>
                            {% for linea_lista in lineas_lista %}
                            <option value="{{linea_lista.linea_id}}" {% if linea.linea_superior_id == linea_lista.linea_id %}selected{% endif %}>{{linea_lista.linea}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                
                <tr class="back2">
                    <td class="right v-top w-20">
                        Imagen&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        {% if operation_x != 'add' %}
                        <img src="{% static '/media/lineas/' %}{{linea.imagen_thumb}}" class="pointer" onclick="nd(); mostrarImagenLinea('{{linea.linea_id}}');"
                                            onMouseOver=" overlib('mostrar imagen',CAPTION,'Imagen',WIDTH,'120',RIGHT); return true" onMouseOut=" nd(); return true">
                                            <br>
                                            {% endif %}
                        
                        <input type="file" class="form-control input w-90" name="imagen1" id="imagen1">
                    </td>
                </tr>

                <tr class="back1">
                    <td colspan="4" class="center w-100">&nbsp;</td>
                </tr>
                <tr class="back2">
                    <td colspan="4" class="center w-100">
                        {% if operation_x == "add" %}
                        <button class="btn btn-secondary btn-sm" name="button_cancel" onclick="backWindow();">
                            <i class="nav-icon fas fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Cancelar
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary btn-sm" name="add_button" onclick="sendFormLinea('add', '');">
                            <i class="nav-icon fas fa-save"></i>&nbsp;&nbsp;Guardar
                        </button>
                        <input type="hidden" name="add_x" value="acc">
                        <input type="hidden" name="control_form" value="{{control_form}}">
                        {% endif %}
                        {% if operation_x == "modify" %}
                        <button class="btn btn-secondary btn-sm" name="button_cancel" onclick="backWindow();">
                            <i class="nav-icon fas fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Cancelar
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary btn-sm" name="add_button" onclick="sendFormLinea('modify', '');">
                            <i class="nav-icon fas fa-save"></i>&nbsp;&nbsp;Guardar
                        </button>
                        <input type="hidden" name="modify_x" value="acc">
                        <input type="hidden" name="control_form" value="{{control_form}}">
                        {% endif %}
                        {% if operation_x == "delete" and puede_eliminar == 1 %}
                        <button class="btn btn-secondary btn-sm" name="button_cancel" onclick="backWindow();">
                            <i class="nav-icon fas fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Cancelar
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger btn-sm" name="add_button" onclick="sendFormLinea('delete', 'esta Linea');">
                            <i class="nav-icon far fa-times-circle"></i>&nbsp;&nbsp;Eliminar
                        </button>
                        <input type="hidden" name="delete_x" value="acc">
                        <input type="hidden" name="control_form" value="{{control_form}}">
                        {% endif %}
                        <input type="hidden" id="url_main" value="{{url_main}}">
                        <input type="hidden" id="operation_x" name="operation_x" value="{{operation_x}}">
                        <input type="hidden" name="module_x" value="{{module_x}}">
                        <input type="hidden" name="id" value="{{id}}">
                    </td>
                </tr>

            </table>
        </form>
        <br>
    </div>
    <!--fin div contenido-->
    <div class="col-sm-2">&nbsp;</div>
</div>
<!--fin div contenedor-->
<form name="form_cancel" method="post" action="{{url_main}}">
    {% csrf_token %}
</form>

<form name="form_img" method="post" action="" target="_blank">
    {% csrf_token %}
    <input type="hidden" name="module_x" value="{{module_x}}">
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="operation_x" value="mostrar_imagen">
</form>

<form name="form_operation" method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="module_x" value="{{module_x}}">
    <input type="hidden" name="module_x2" value="{{module_x2}}">
    <input type="hidden" name="module_x3" value="{{module_x3}}">
    
    <input type="hidden" name="operation_x" value="{{operation_x}}">
    <input type="hidden" name="operation_x2" value="{{operation_x2}}">
    <input type="hidden" name="operation_x3" value="{{operation_x3}}">
    
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="id2" value="{{id2}}">
    <input type="hidden" name="id3" value="{{id3}}">
</form>
