{% load jinja_tags %}
{% load static %}

<!--contenedor-->
<div class="row align-items-center">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-md-8">
        <!--contenido-->
        <!--alerts-->
        {% include 'partials/_alerts.html' %}
        <br>
        {% if puede_anular == 0 %}
        {% with title='Venta' body='No puede anular esta venta, tiene registros en otros modulos, consulte con el administrador' %}
        {% include 'partials/_alert_info_cant_delete.html' %}
        {% endwith %}
        {% endif %}
        
        {% if puede_confirmar == 0 %}
        {% with title='Venta' body='No puede confirmar esta venta, no existe stock de productos para las fechas de entrega y devolucion' %}
        {% include 'partials/_alert_info_cant_delete.html' %}
        {% endwith %}
        {% endif %}
        
        <div class="link_blue right">
            <span class="link_blue pointer" onclick="backWindow();">Volver</span>
        </div>
        <br>
        <form name="formulario" method="post" action="" onsubmit="return false;">
            {% csrf_token %}
            <table class="table3 w-100">
                <tr>
                    <th colspan="4" class="center w-100">
                        {% if operation_x == 'pasar_venta' %}Pasar a Venta{% endif %}
                        {% if operation_x == 'pasar_venta_anular' %}Anular Pasar a Venta{% endif %}
                    </th>
                </tr>
                
                <tr class="back1">
                    <td class="right w-20">
                        Apellidos&nbsp;:&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" autocomplete="off" readonly="readonly" class="form-control input left w-90" name="apellidos" id="apellidos" value="{{venta.apellidos}}" maxlength="150" onkeyup="txtValid(this);" onblur="txtValid(this);">
                        <input type="hidden" name="cliente_id" id="cliente_id" value="{{venta.cliente_id.cliente_id}}">
                    </td>
                    <td class="right w-20">
                        Nombres&nbsp;:&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" autocomplete="off" readonly="readonly" class="form-control input left w-90" name="nombres" id="nombres" value="{{venta.nombres}}" maxlength="150" onkeyup="txtValid(this);" onblur="txtValid(this);">
                    </td>
                </tr>
                
                <tr class="back2">
                    <td class="right w-20">
                        CI/NIT&nbsp;:&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" autocomplete="off" readonly="readonly" class="form-control input left w-90" name="ci_nit" id="ci_nit" value="{{venta.ci_nit}}" maxlength="150" onkeyup="txtValid(this);" onblur="txtValid(this);">
                    </td>
                    <td class="right w-20">
                        Fonos&nbsp;:&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" autocomplete="off" readonly="readonly" class="form-control input left w-90" name="telefonos" id="telefonos" value="{{venta.telefonos}}" maxlength="150" onkeyup="txtValid(this);" onblur="txtValid(this);">
                    </td>
                </tr>
                
                <tr class="back1">
                    <td class="right w-20">
                        Contrato&nbsp;:&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" autocomplete="off" readonly="readonly" class="form-control input left w-90" name="numero_contrato" id="numero_contrato" value="{{venta.numero_contrato}}" maxlength="10" onkeyup="txtValid(this);" onblur="txtValid(this);">
                    </td>
                    <td class="right w-20">
                        Factura&nbsp;:&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" autocomplete="off" readonly="readonly" class="form-control input left w-90" name="factura_a" id="factura_a" value="{{venta.factura_a}}" maxlength="150">
                    </td>
                </tr>
                
                <tr class="back2">
                    <td class="right w-20">
                        Direccion&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <input type="text" autocomplete="off" readonly="readonly" class="form-control input left w-99" name="direccion_evento" id="direccion_evento" value="{{venta.direccion_evento}}" onkeyup="txtValid(this);" onblur="txtValid(this);">
                    </td>
                </tr>
                
                <tr class="back1">
                    <td class="right w-20">
                        F.Evento&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <input name="fecha_evento" id="fecha_evento" value="{{fecha_evento}}" type="text" class="form-control input w-30 left" readonly="readonly">
                        <script type="text/javascript">
                            var foopicker = new FooPicker({
                                id: 'fecha_evento',
                                dateFormat: 'dd-MMM-yyyy'
                            });
                        </script>
                    </td>
                </tr>
                
                <tr class="back2">
                    <td class="right w-20">
                        F.Entrega&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <input name="fecha_entrega" id="fecha_entrega" value="{{fecha_entrega}}" onfocus="ocultarProductosVenta();" type="text" class="form-control input w-30 left" readonly="readonly">
                        <script type="text/javascript">
                            var foopicker = new FooPicker({
                                id: 'fecha_entrega',
                                dateFormat: 'dd-MMM-yyyy'
                            });
                        </script> 
                        <select name="hora_entrega" id="hora_entrega"  onchange="ocultarProductosVenta();" class="form-control w-20 input h-35" readonly="readonly">
                            {% for hora in horas %}
                            {% if hora == hora_entrega %}
                            <option value="{{hora}}" {% if hora == hora_entrega %}selected{% endif %}>{{hora}}</option>
                            {% endif %}
                            {% endfor %}
                        </select> 
                        <select name="minuto_entrega" id="minuto_entrega"  onchange="ocultarProductosVenta();" class="form-control w-20 input h-35" readonly="readonly">
                            {% for minuto in minutos %}
                            {% if minuto == minuto_entrega %}
                            <option value="{{minuto}}" {% if minuto == minuto_entrega %}selected{% endif %}>{{minuto}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                
                <tr class="back1">
                    <td class="right w-20">
                        F.Devolucion&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <input name="fecha_devolucion" id="fecha_devolucion" value="{{fecha_devolucion}}" onfocus="ocultarProductosVenta();" type="text" class="form-control input w-30 left" readonly="readonly">
                        <script type="text/javascript">
                            var foopicker = new FooPicker({
                                id: 'fecha_devolucion',
                                dateFormat: 'dd-MMM-yyyy'
                            });
                        </script>
                        <select name="hora_devolucion" id="hora_devolucion"  onchange="ocultarProductosVenta();" class="form-control w-20 input h-35" readonly="readonly">
                            {% for hora in horas %}
                            {% if hora == hora_devolucion %}
                            <option value="{{hora}}" {% if hora == hora_devolucion %}selected{% endif %}>{{hora}}</option>
                            {% endif %}
                            {% endfor %}
                        </select> 
                        <select name="minuto_devolucion" id="minuto_devolucion"  onchange="ocultarProductosVenta();" class="form-control w-20 input h-35" readonly="readonly">
                            {% for minuto in minutos %}
                            {% if minuto == minuto_devolucion %}
                            <option value="{{minuto}}" {% if minuto == minuto_devolucion %}selected{% endif %}>{{minuto}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                
                <tr class="back2">
                    <td class="right w-20">
                        Observacion&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <input type="text" autocomplete="off" readonly="readonly" class="form-control input left w-99" name="observacion" id="observacion" value="{{venta.observacion}}">
                    </td>
                </tr>
            </table>
            
            <div id="div_listap">
                <table class="table3 w-100">
                    <tr class="back1">
                        <td colspan="2" class="w-100">&nbsp;</td>
                    </tr>
                    <tr>
                        <th colspan="2" class="w-100 center">Lista de Productos</th>
                    </tr>
                    <tr class="back1">
                        <td class="w-40 left" id="columna1">
                            &nbsp;
                        </td>
                        <td class="w-60 center" id="columna2">
                            <table class="table3 w-100">
                                <tr>
                                    <td class="w-20 center minw-20">
                                        <i>Cant</i>
                                    </td>
                                    <td class="w-25 right minw-30">
                                        <i>Costo</i>
                                    </td>
                                    <td class="w-25 right minw-40">
                                        <i>Total</i>
                                    </td>
                                    <td class="w-30 right minw-40">
                                        <i>Det</i>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    {% for detalle in venta_detalles %}
                    <tr class="back{{forloop.counter|back_class}}">
                        <td class="w-40 left minw-140">
                            {{detalle.producto_id.linea_id.linea}} - {{detalle.producto_id.producto}}
                        </td>
                        <td class="w-60 left">
                            <table class="tablac w-100">
                                <tr class="back1">
                                    <td class="w-20 right minw-20">
                                        {{detalle.cantidad_salida|toint}}
                                    </td>
                                    <td class="w-25 right minw-30">
                                        {{detalle.costo_salida}}
                                    </td>
                                    <td class="w-25 right minw-40">
                                        {{detalle.total_salida}}
                                    </td>
                                    <td class="w-30 left minw-40">
                                        &nbsp;<i>{{detalle.detalle}}</i>
                                    </td>
                                </tr>
                                {% if operation_x == 'pasar_venta' %}
                                <tr class="back2">
                                    <td colspan="4" class="w-100 left">
                                        {% with cantidad_stock=datos_productos|get_stock:detalle.producto_id.producto_id %}
                                        <span class="input_stock{% if cantidad_stock <= 0 %}_red{% endif %}">{{cantidad_stock}}</span>
                                        {% endwith %}
                                    </td>
                                </tr>
                                {% endif %}
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                    
                    <tr class="back1">
                        <td colspan="2" class="w-100 right">
                            
                            SubTotal : <input type="text" class="form-control input right w-20" name="total_pedido" id="total_pedido" value="{{venta.subtotal}}" readonly="readonly"> Bs.<br>
                            
                            &#37; Desc. <input type="text" autocomplete="off" class="form-control input right w-20" name="porcentaje_descuento" id="porcentaje_descuento" value="{{venta.porcentaje_descuento}}" readonly="readonly">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                            Desc. <input type="text" autocomplete="off" class="form-control input right w-20" name="descuento" id="descuento" value="{{venta.descuento}}" readonly="readonly"> Bs.<br>
                            
                            Total Productos : <input type="text" class="form-control input right w-20" name="total_venta" id="total_venta" value="{% if venta %}{{venta.total|subtract:venta.costo_transporte}}{% endif %}" readonly="readonly"> Bs.
                            
                            <br>
                            Transporte : <input type="text" autocomplete="off" class="form-control input right w-20" name="costo_transporte" id="costo_transporte" value="{{venta.costo_transporte}}" readonly="readonly"> Bs.<br>
                            Total : <input type="text" class="form-control input right w-20" name="total_final" id="total_final" value="{{venta.total}}" readonly="readonly"> Bs.
                        </td>
                    </tr>
                    
                    
                    <tr class="back2">
                        <td colspan="2" class="center w-100">&nbsp;</td>
                    </tr>
                    
                    <tr class="back1">
                        <td colspan="2" class="right w-100">
                            Garantia : <input type="text" autocomplete="off" readonly="readonly" class="form-control input right w-20" name="garantia_bs" id="garantia_bs" value="{{venta.garantia_bs}}" readonly="readonly"> Bs.
                        </td>
                    </tr>
                    <!-- <tr class="back1">
                        <td colspan="2" class="center w-100">
                            Observacion :<br><input type="text" autocomplete="off" readonly="readonly" class="form-control input left w-90" name="observacion" id="observacion" value="{{venta.observacion}}">
                        </td>
                    </tr> -->
                    
                    {% if operation_x == 'pasar_venta_anular' %}
                    <tr class="back1">
                        <td colspan="2" class="center w-100">
                            Motivo Anulacion&nbsp;:<br>
                            <input type="text" class="form-control input w-98" onkeyup="txtValid(this);" onblur="txtValid(this);" autocomplete="off" value="" maxlength="250" name="motivo_anula" id="motivo_anula">
                        </td>
                    </tr>
                    {% endif %}

                    <tr class="back2">
                        <td colspan="2" class="center w-100">&nbsp;</td>
                    </tr>
                    <tr class="back1">
                        <td colspan="2" class="center w-100">
                            {% if operation_x == "pasar_venta" and puede_confirmar == 1 %}
                            <button class="btn btn-secondary btn-sm" name="button_cancel" onclick="backWindow();">
                                <i class="nav-icon fas fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Cancelar
                            </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-primary btn-sm" name="add_button" onclick="sendFormVenta('pasar_venta', '');">
                                <i class="nav-icon fas fa-save"></i>&nbsp;&nbsp;Pasar a Venta
                            </button>
                            <input type="hidden" name="pasar_venta_x" value="acc">
                            <input type="hidden" name="control_form" value="{{control_form}}">
                            <input type="hidden" name="operation" value="{{operation}}">
                            {% endif %}
                            
                            {% if operation_x == "pasar_venta_anular" and puede_anular == 1 %}
                            <input type="button" name="button_cancel" value="Cancelar" class="btn btn-secondary btn-sm" onclick="backWindow();">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="hidden" name="control_form" value="txt|2|S|motivo_anula|Motivo Anulacion">
                            <input type="hidden" name="anular_x" value="acc">
                            <input type="hidden" name="operation" value="{{operation}}">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="button" name="add_button" value="&nbsp;Anular&nbsp;" class="btn btn-primary btn-sm" onclick="sendFormVenta('pasar_venta_anular', 'esta Venta');">
                            {% endif %}
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="hidden" id="url_main" value="{{url_main}}">
                            <input type="hidden" id="url_add" value="{{url_add}}">
                            <input type="hidden" id="operation_x" name="operation_x" value="{{operation_x}}">
                            <input type="hidden" id="module_x" name="module_x" value="{{module_x}}">
                            <input type="hidden" id="vender_fracciones" name="vender_fracciones" value="{{vender_fracciones}}">
                        </td>
                    </tr>

                </table>
            </div>
        </form>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!--fin div contenido-->
    <div class="col-sm-2">&nbsp;</div>
</div>
<!--fin div contenedor-->
<form name="form_cancel" method="post" action="{{url_main}}">
    {% csrf_token %}
</form>

<form name="form_print" method="post" action="{{url_main}}" target="_blank">
    {% csrf_token %}
    <input type="hidden" name="module_x" value="{{module_x}}">
    <input type="hidden" name="operation_x" value="">
    <input type="hidden" name="id" value="">
</form>
<form name="form_operation" method="post" action="{{url_main}}">
    {% csrf_token %}
    <input type="hidden" name="module_x" value="{{module_x}}">
    <input type="hidden" name="module_x2" value="{{module_x2}}">
    <input type="hidden" name="module_x3" value="{{module_x3}}">
    
    <input type="hidden" name="operation_x" value="{{operation_x}}">
    <input type="hidden" name="operation_x2" value="{{operation_x2}}">
    <input type="hidden" name="operation_x3" value="{{operation_x3}}">
    
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="id2" value="{{id2}}">
    <input type="hidden" name="id3" value="{{id3}}">
</form>
