{% load jinja_tags %}
{% load static %}

{% if operation_x == 'add' %}
<link rel="stylesheet" href="{% static 'js/autosuggest/autosuggest.css' %}">
<script type="text/javascript" src="{% static "" %}js/autosuggest/autosuggest.js"></script>
<!-- Autosuggest data: -->
<script type="text/javascript">
    var suggest_custom_array_2 = [
        {% for producto in lista_productos %}
    ['{{producto.linea}} - {{producto.producto}}', '{{producto.producto_id}}'],
        {% endfor %}
    ];
</script>
{% endif %}

<!--contenedor-->
<div class="row align-items-center">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-md-8">
        <!--contenido-->
        <!--alerts-->
        {% include 'partials/_alerts.html' %}
        <br>
        {% if puede_anular == 0 %}
        {% with title='Movimientos Almacen' body='No puede Anular este movimiento, tiene registros en otros modulos, consulte con el administrador' %}
        {% include 'partials/_alert_info_cant_delete.html' %}
        {% endwith %}
        {% endif %}
        <div class="link_blue right">
            <span class="link_blue pointer" onclick="backWindow();">Volver</span>
        </div>
        <br>
        <form name="formulario" method="post" action="" onsubmit="return false;">
            {% csrf_token %}
            <table class="table3 w-100">
                <tr>
                    <th colspan="4" class="center w-100">
                        {% if operation_x == "add" %}Adicionar Movimiento Almacen{% endif %}
                        {% if operation_x == "anular" %}Anular Movimiento Almacen{% endif %}
                    </th>
                </tr>

                <tr class="back1">
                    <td class="right w-20">
                        Almacen&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <select name="almacen" id="almacen" onchange="seleccionAlmacenMA();" class="form-control input w-90" {% if operation_x == 'anular' %}readonly='readonly' {% endif %}>
                            <option value="0">---</option>
                            {% for almacen in lista_almacenes %}
                            <option value="{{almacen.almacen_id}}" {% if registro.almacen_id.almacen_id == almacen.almacen_id %}selected{% endif %}>{{almacen.sucursal_id.sucursal}}-{{almacen.almacen}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr class="back2">
                    <td class="right w-20">
                        Destino&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <select name="almacen2" id="almacen2" onchange="seleccionAlmacenMA();" class="form-control input w-90" {% if operation_x == 'anular' %}readonly='readonly' {% endif %}>
                            <option value="0">---</option>
                            {% for almacen in lista_almacenes_destino %}
                            <option value="{{almacen.almacen_id}}" {% if registro.almacen2_id == almacen.almacen_id %}selected{% endif %}>{{almacen.sucursal_id.sucursal}}-{{almacen.almacen}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr class="back1">
                    <td class="right w-20">
                        Concepto&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <input type="text" autocomplete="off" value="{{registro.concepto}}" {% if operation_x == 'anular' %}readonly="readonly" {% endif %} class="form-control input left w-90" name="concepto" id="concepto" onkeyup="txtValid(this);"
                            onblur="txtValid(this);" maxlength="250">
                    </td>
                </tr>
            </table>

            <div id="div_listap" style="display: {% if operation_x == 'add' %}none{% endif %};">
                <table class="table3 w-100">
                    <tr>
                        <th colspan="2" class="w-100 center">Lista de Productos</th>
                    </tr>
                    <tr class="back1">
                        <td class="w-40 left" id="columna1">
                            &nbsp;
                        </td>
                        <td class="w-60 center" id="columna2">
                            <table class="table3 w-100">
                                <tr class="back1">
                                    <td class="w-20 right" id="columna6">
                                        <i>Act.</i>
                                    </td>
                                    <td class="w-25 right" id="columna7">
                                        <i>Cant</i>
                                    </td>
                                    <td class="w-25 right" id="columna8">
                                        <i>Costo</i>
                                    </td>
                                    <td class="w-30 right" id="columna9">
                                        <i>Total</i>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    {% if operation_x == 'add' %}
                    {% for fila in filas %}
                    <tr class="back{{forloop.counter|back_class}}" id="fila_{{fila}}" style="display: {% if forloop.counter == 1 %}display{% else %}none{% endif %};">
                        <td class="w-40 left">
                            <input type="hidden" name="producto_{{fila}}" id="producto_{{fila}}" value="0" />
                            <input type="text" autocomplete="off" id="tb2_{{fila}}" name="tb2_{{fila}}" class="form-control input search left w-99" value="" onblur="validarFilaMA('{{fila}}');" />
                            <script type="text/javascript"> new autosuggest("tb2_{{fila}}", null, function (index, control) { seleccionPMA('{{fila}}', control.keywords[index], control.values[index]); }); 
                            </script>
                        </td>
                        <td class="w-60 left">
                            <div id="div_fila_{{fila}}">&nbsp;</div>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="back1">
                        <td colspan="2" class="w-100 right">
                            
                            SubTotal : <input type="text" class="form-control input right w-20" name="total_pedido" id="total_pedido" readonly="readonly"> Bs.<br>
                            
                            &#37; Desc. <input type="text" autocomplete="off" class="form-control input right w-20" name="porcentaje_descuento" id="porcentaje_descuento" onkeyup="validarNumeroPunto(this); calcularPorcentajeDescuentoMA(); totalProductosMA();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                            Desc. <input type="text" autocomplete="off" class="form-control input right w-20" name="descuento" id="descuento" onkeyup="validarNumeroPunto(this); totalProductosMA();"> Bs.<br>
                            
                            Total : <input type="text" class="form-control input right w-20" name="total_venta" id="total_venta" readonly="readonly"> Bs.
                        </td>
                    </tr>
                    {% endif %}

                    {% if operation_x == 'anular' %}
                    {% for detalle in detalles %}
                    <tr class="back{{forloop.counter|back_class}}">
                        <td class="w-40 left">
                            {{detalle.producto_id.producto}}
                        </td>
                        <td class="w-60 left">
                            <table class="table3 w-100">
                                <tr>
                                    <td class="w-20 right">
                                        &nbsp;
                                    </td>
                                    <td class="w-25 right">
                                        {{detalle.cantidad}}
                                    </td>
                                    <td class="w-25 right">
                                        {{detalle.costo}}
                                    </td>
                                    <td class="w-30 right">
                                        {{detalle.total}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="back1">
                        <td class="right w-40">
                            Motivo&nbsp;:&nbsp;
                        </td>
                        <td class="left w-60">
                            <input type="text" class="form-control input w-98" onkeyup="txtValid(this);" onblur="txtValid(this);" autocomplete="off" value="" maxlength="250" name="motivo_anula" id="motivo_anula">
                        </td>
                    </tr>
                    {% endif %}

                    <tr class="back2">
                        <td colspan="2" class="center w-100">&nbsp;</td>
                    </tr>
                    <tr class="back1">
                        <td colspan="2" class="center w-100">
                            {% if operation_x == "add" %}
                            <button class="btn btn-secondary btn-sm" name="button_cancel" onclick="backWindow();">
                                <i class="nav-icon fas fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Cancelar
                            </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-primary btn-sm" name="add_button" onclick="sendFormMA('add', '');">
                                <i class="nav-icon fas fa-save"></i>&nbsp;&nbsp;Guardar
                            </button>
                            <input type="hidden" name="add_x" value="acc">
                            <input type="hidden" name="control_form" value="{{control_form}}">
                            {% endif %}
                            {% if operation_x == "anular" and puede_anular == 1 %}
                            <button class="btn btn-secondary btn-sm" name="button_cancel" onclick="backWindow();">
                                <i class="nav-icon fas fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Cancelar
                            </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger btn-sm" name="add_button" onclick="sendFormMA('anular', 'este Movimiento');">
                                <i class="nav-icon far fa-times-circle"></i>&nbsp;&nbsp;Anular
                            </button>
                            <input type="hidden" name="anular_x" value="acc">
                            <input type="hidden" name="control_form" value="txt|2|S|motivo_anula|Motivo Anulacion">
                            {% endif %}
                            <input type="hidden" id="url_main" value="{{url_main}}">
                            <input type="hidden" id="operation_x" name="operation_x" value="{{operation_x}}">
                            <input type="hidden" name="module_x" value="{{module_x}}">
                            <input type="hidden" name="id" value="{{id}}">
                        </td>
                    </tr>

                </table>
            </div>
        </form>
        <br>
    </div>
    <!--fin div contenido-->
    <div class="col-sm-2">&nbsp;</div>
</div>
<!--fin div contenedor-->
<form name="form_cancel" method="post" action="{{url_main}}">
    {% csrf_token %}
</form>
<form name="form_operation" method="post" action="{{url_main}}">
    {% csrf_token %}
    <input type="hidden" name="module_x" value="{{module_x}}">
    <input type="hidden" name="module_x2" value="{{module_x2}}">
    <input type="hidden" name="module_x3" value="{{module_x3}}">
    
    <input type="hidden" name="operation_x" value="{{operation_x}}">
    <input type="hidden" name="operation_x2" value="{{operation_x2}}">
    <input type="hidden" name="operation_x3" value="{{operation_x3}}">
    
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="id2" value="{{id2}}">
    <input type="hidden" name="id3" value="{{id3}}">
</form>