{% load static %}
{% load jinja_tags %}

<div class="row align-items-center">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8">
        <!--div contenedor-->
        <br>
        <!--alerts-->
        {% include 'partials/_alerts.html' %}

        <form name="search" method="post" action="">
            {% csrf_token %}
            <table class="table3 w-100">
                <tr>
                    <th class="w-100 center" colspan="4">
                        Opciones de Busqueda
                    </th>
                </tr>

                <tr class="back2">
                    <td class="right w-20">
                        Fecha Inicio&nbsp;:&nbsp;
                    </td>
                    <td class="left w-30">
                        <input name="search_fecha_ini" id="search_fecha_ini" value="{{ session.search_fecha_ini }}" type="text" class="form-control input w-90 left" readonly="readonly">
                        <script type="text/javascript">
                            var foopicker = new FooPicker({
                                id: 'search_fecha_ini',
                                dateFormat: 'dd-MMM-yyyy'
                            });
                        </script>
                    </td>
                    <td class="right w-20">
                        Fecha Fin&nbsp;:&nbsp;
                    </td>
                    <td class="left w-30">
                        <input name="search_fecha_fin" id="search_fecha_fin" value="{{ session.search_fecha_fin }}" type="text" class="form-control input w-90 left" readonly="readonly">
                        <script type="text/javascript">
                            var foopicker = new FooPicker({
                                id: 'search_fecha_fin',
                                dateFormat: 'dd-MMM-yyyy'
                            });
                        </script>
                    </td>
                </tr>

                <tr class="back1">
                    <td class="right w-20">
                        Almac&eacute;n&nbsp;:&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <select name="search_almacen" id="search_almacen" class="form-control input w-80">
                            <option value="0">(TODOS)</option>
                            {% for almacen in lista_almacenes %}
                            {% if almacen.almacen_id == session.search_almacen|add:"0" %}
                            <option value="{{almacen.almacen_id}}" selected>{{almacen.almacen}}</option>
                            {% else %}
                            <option value="{{almacen.almacen_id}}">{{almacen.almacen}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>

                </tr>

                <tr class="back1">
                    <td class="right w-20">
                        C&oacute;digo&nbsp;:&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" name="search_codigo" id="search_codigo" class="form-control input w-80" value="{{ session.search_codigo }}" onkeyup="validarNumero(this);" autocomplete="off">
                    </td>
                    <td class="right w-20">
                        Concepto&nbsp;:&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" name="search_concepto" id="search_concepto" class="form-control input w-80" value="{{ session.search_concepto }}" autocomplete="off">
                    </td>
                </tr>

                <tr class="back1">
                    <td colspan="4" class="center w-100">
                        <button class="btn btn-primary btn-sm" name="search_button" onclick="sendSearchIA();">
                            <i class="nav-icon fas fa-search"></i>&nbsp;&nbsp;Buscar
                        </button>
                        <input type="hidden" name="search_button_x" value="acc">
                        <input type="hidden" name="module_x" value="{{module_x}}">
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <!--paginacion-->
        {% include 'partials/pagination.html' %}

        {%if permisos.adicionar == 1 %}
        <table class="tabla w-100">
            <tr>
                <td class="left w-100">
                    <button class="btn btn-primary btn-sm" name="add_x" onclick="sendOperation(operation='add');">
                        <i class="nav-icon fas fa-plus"></i>&nbsp;&nbsp;Nueva Salida
                    </button>
                </td>
            </tr>
        </table>
        <br>
        {% endif %}
        <table class="table3 w-100">
            <tr>
                <th class="w-25 pointer left" {% with cabecera=columnas.0 %} {% include 'partials/cabecera_columna.html' %} {% endwith %}>
                    {% with cabecera=columnas.0 %}
                    Fecha{% include 'partials/titulo_columna.html' %}
                    {% endwith %}
                </th>
                <th class="w-25 pointer left" {% with cabecera=columnas.1 %} {% include 'partials/cabecera_columna.html' %} {% endwith %}>
                    {% with cabecera=columnas.1 %}
                    Almac&eacute;n{% include 'partials/titulo_columna.html' %}
                    {% endwith %}
                </th>
                <th colspan="3" class="w-50 pointer left" {% with cabecera=columnas.2 %} {% include 'partials/cabecera_columna.html' %} {% endwith %}>
                    {% with cabecera=columnas.2 %}
                    Concepto{% include 'partials/titulo_columna.html' %}
                    {% endwith %}
                </th>
            </tr>

            {% for salida in salidas %}
            <tr class="back{{forloop.counter|back_class_color:salida.status_id.status_id}}">
                <td class="left w-25">
                    {{salida.fecha|fecha_mostrar:'dd-MMM-yyyy HH:ii'}}&nbsp;({{salida.registro_id}})
                </td>
                <td class="left w-25">
                    {{salida.almacen_id.almacen}}
                </td>
                <td class="left w-30">
                    {{salida.concepto}}
                </td>

                <td class="center w-10">
                    {% if permisos.imprimir == 1 %}
                    {% with url_main=url_main url_id=salida.registro_id target='_blank' %}
                    {% include 'partials/btn_imprimir.html' %}
                    {% endwith %}
                    {% else %} &nbsp;
                    {% endif %}
                </td>

                <td class="center w-10">
                    {% if permisos.anular == 1 %}
                    {% if salida.status_id.status_id != estado_anulado %}
                    {% with url_id=salida.registro_id boton='fas fa-ban' operation='anular' titulo='Anular' descripcion='Anular esta operacion' %}
                    {% include 'partials/btn.html' %}
                    {% endwith %}
                    {% endif %}
                    {% else %} &nbsp;
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        {% if permisos.adicionar == 1 %}
        <table class="tabla w-100">
            <tr>
                <td class="left w-100">
                    <button class="btn btn-primary btn-sm" name="add_x2" onclick="sendOperation(operation='add');">
                        <i class="nav-icon fas fa-plus"></i>&nbsp;&nbsp;Nueva Salida
                    </button>
                </td>
            </tr>
        </table>
        <br>
        {% endif %}
    </div>
    <!--fin div contenedor-->
    <div class="col-sm-2">&nbsp;</div>
</div>

<BR><BR>
<form name="form_order" method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="{{session.variable_order}}" value="{{session|get_item:session.variable_order}}">
    <input type="hidden" name="{{session.variable_order_type}}" value="{{session|get_item:session.variable_order_type}}">
</form>

<form name="form_print" method="post" action="{{url_main}}" target="_blank">
    {% csrf_token %}
    <input type="hidden" name="module_x" value="{{module_x}}">
    <input type="hidden" name="operation_x" value="">
    <input type="hidden" name="id" value="">
</form>
</div>
<form name="form_operation" method="post" action="{{url_main}}">
    {% csrf_token %}
    <input type="hidden" name="module_x" value="{{module_x}}">
    <input type="hidden" name="module_x2" value="{{module_x2}}">
    <input type="hidden" name="module_x3" value="{{module_x3}}">
    
    <input type="hidden" name="operation_x" value="{{operation_x}}">
    <input type="hidden" name="operation_x2" value="{{operation_x2}}">
    <input type="hidden" name="operation_x3" value="{{operation_x3}}">
    
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="id2" value="{{id2}}">
    <input type="hidden" name="id3" value="{{id3}}">
</form>